{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/awesome-style.css') }}">
    <style>
        .thumb {
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav" id="category-ul">
                <li class="sidebar-brand">
                    <a href="#" id="manage-category-a">
                        Loading ...
                    </a>
                </li>
                <li id="manage-category-add-li" class="btn-group">
                    <input type="text" name="name">
                    <button id="create-category-btn">Add category</button>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" id="welcome-div">
                        <h1 class="page-header">Welcome to photo gallery</h1>
                        <p class="lead">Select a category from the top left toggle menu to see the images here</p>
                    </div>
                    <div id="photo-div">
                        <h3 class="page-header" id="gallery-header"></h3>
                        <div class="container-fluid">
                            <div class="row" id="photo-collection-div">

                            </div>
                            <div id="photo-detail-div">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img src="" alt="">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <h4 class="col-md-8"></h4>
                                            <button class="col-md-4" id="photo-detail-back-btn">Back</button>
                                        </div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/awesome-index.js') }}"></script>

    <script>
        //hide the photo div and show the welcome page when the page loads
        $('#photo-div').hide();
        $('#photo-detail-div').hide();
        $('#welcome-div').show();

        function createCategoryItem(item, editMode)
        {
            var link = $('<a href="#"></a>').text(item.name).addClass('category-nav-a').attr('category-id', item.id).append($('<span></span>'));
            var div = $('<div class="edit-category-div"></div>');
            var inputField = $('<input type="text">').val(item.name);
            var editButton = $('<button>Edit</button>').addClass('editBtn').attr('category-id', item.id);
            var deleteButton = $('<button>Delete</button>').addClass('deleteBtn').attr('category-id', item.id);

            link.click(function(){
                $('#welcome-div').hide();
                $('#photo-div').show();
                $('#gallery-header').text($(this).text() + ' Photo Gallery');

                //clear all the active categories
                $('a.category-nav-a > span').text('');
                //add the active category
                $(this).find('span').text('*');

                //load the photo from ajax
                $.getJSON('/admin/category/photo/' + $(this).attr('category-id'), null, function(photos){
                    $('#photo-detail-div').hide();
                    $('#photo-collection-div').show();

                    //clear all the photos
                    var photoDiv = $('#photo-collection-div');
                    photoDiv.empty();
                    $.each(photos, function(index, item){
                        var img = $('<img src="' + item.flickrUrlSmall + '">').addClass('img-responsive').attr('title', item.title).attr('description', item.description);
                        img.attr('long-url', item.flickerUrlLarge);
                        img.click(function(){
                            $('#photo-detail-div').show();
                            $('#photo-collection-div').hide();

                            //set the page details
                            var photoDetailDiv = $('#photo-detail-div');
                            photoDetailDiv.find('img').attr('src', $(this).attr('long-url'));
                            photoDetailDiv.find('h4').text($(this).attr('title'));
                            photoDetailDiv.find('p').text($(this).attr('description'));
                        });

                        var imgDiv = $('<div></div>').addClass('col-lg-3 col-md-4 col-xs-6 thumb').append(img);
                        photoDiv.append(imgDiv);
                    });
                });
            });

            //set the click listener on all the edit button
            editButton.click(function(){
                $.ajax({
                    url:'/admin/category/edit/' + $(this).attr('category-id'),
                    type:'PUT',
                    data: '{"name":"' + $(this).prev().val() + '"}',
                    success:function(data){
                        if(data.result == true){
                            alert('Updated');
                        } else {
                            alert('Unable to change');
                        }
                    }
                });
            });
            //set the click listener on all the delete button
            deleteButton.click(function(){
                $.ajax({
                    url:'/admin/category/delete/' + $(this).attr('category-id'),
                    type:'DELETE',
                    success:function(data){
                        if(data.result == true){
                            deleteButton.parent().parent().remove();
                        } else {
                            alert('Unable to delete');
                        }
                    }
                });
            });
            div.append(inputField).append(editButton).append(deleteButton);
            if(editMode == false){
                div.hide();
            } else {
                link.hide();
            }

            var li = $('<li></li>').addClass('category').append(link).append(div);
            li.insertAfter('#category-ul > li.sidebar-brand');
        }

        //Load the category via ajax
        function loadCategory()
        {
            //get the users list
            $.getJSON('/admin/category', null, function(categories){
                $('#category-ul > li.category').remove();

                $.each(categories, function(index, item){
                    createCategoryItem(item, false);
                });

                $('#manage-category-a').text('Manage category');
            });

            //hide the edit div
            $('.edit-category-div').hide();
        }
        loadCategory(); //call the category list on page load

        //toggle the category edit mode
        function toggleCategoryEdit(editMode)
        {
            if(editMode == true){
                $('.edit-category-div').show();
                $('.category-nav-a').hide();
                $('#manage-category-add-li').show();
            } else {
                $('.edit-category-div').hide();
                $('.category-nav-a').show();
                $('#manage-category-add-li').hide();
            }
        }


        var categoryEditMode = false;
        //add listener for managing category link
        $('#manage-category-a').click(function(){
            if(categoryEditMode == true){
                categoryEditMode = false;
                toggleCategoryEdit(false);

                $(this).text('Manage categories');
            } else {
                categoryEditMode = true;
                toggleCategoryEdit(true);
                //show all the edit fields
                $(this).text('Finish');
            }
        });

        $('#manage-category-add-li').hide();    //Hide the category add button by default

        //set teh click listener on the add category button
        $('#create-category-btn').click(function(){
            $.ajax({
                url:'/admin/category/create',
                type:'POST',
                data: '{"name":"' + $(this).prev().val() + '"}',
                success:function(data){
                    if(data.result == true){
                        createCategoryItem(data.category, true);
                    } else {
                        alert('Unable to change');
                    }
                }
            });

            $(this).prev().val('');
        });

        $('#photo-detail-back-btn').click(function(){
            $('#photo-detail-div').hide();
            $('#photo-collection-div').show();
        });
    </script>

{% endblock %}